[2016-10-09 13:39] victornoel opened #5 "Support class-level @Pac4JSecurity annotation"
For now `@Pac4JSecurity` can only be set on a resource method, but it would make sense to apply to a resource class.
Some thought must be spent on what it means to override a resource class annotation with a resource method annotation in that case.

[2016-10-09 13:41] victornoel opened #6 "Value injector for RESTEasy"
For now value injection with `@Pac4JProfile` and `@Pac4JProfileManager` only works with Jersey.

[2016-10-22 07:58] victornoel opened #7 "Populate the SecurityContext"
See undertow-pac4j and do something similar

[2016-10-22 08:20] leleuj commented on #7
Yes, the idea is to use a specific `ProfileManager`. `spring-security-pac4` and `buji-pac4j` follow the same logic.

[2016-10-22 09:08] victornoel commented on #7
I guess there is some thinking to do with respect to the underlying container... in JAX-RS there is the `SecurityContext` and by default it returns the Principal from the underlying servlet request, or for example with Grizzly, the Principal contained in the Grizzly request.

Two possibilities (non-exclusive):
- set our own `SecurityContext`
- handle that at the underlying container level (when po

[2016-10-22 14:40] victornoel commented on #7
Anohter question @leleuj: why in undertow-pac4j, the security context is populated on `retrieveAll` and not on `save`? I would have thought it should be at last on `save`, so that after both indirect client and direct client, the security context is populated.
And I guess actually also on `retrieveAll` during access of urls protected by indirect clients.

I think I will do that for `jax-rs-pac4j`!

[2016-10-22 17:30] victornoel commented on #7
That's not so obvious to do as I thought it was ^^ in the end I did as in undertow-pac4j.

The interplay of  profile in session or not is not easy to deal with... I think there may be corner cases where there would be a profile stored in session and one not stored in session (in case of multiprofile) and depending on the order of the clients of the filter, then the `SecurityContext` would be diffe

[2016-10-24 08:39] leleuj commented on #7
The default way to save / get the profile is to use the `ProfileManager`: for indirect clients, user profiles are saved into the web session while for direct clients, they are saved in the request attributes (or equivalent).

In j2e-pac4j, we use the regular `ProfileManager` and thus, we don't populate the `Principal` of the `HttpServletRequest`, but this could be an improvement: in that case, we

[2016-10-28 13:27] #7 closed

[2016-11-09 14:36] rkorn86 commented on #6
Is there currently any workaround to use resteasy with `@Pac4JCallback`? Im stuck on Wildfly 10 and RESTeasy.

[2016-11-09 15:01] victornoel commented on #6
@rkorn86 there is no problem with `@Pac4JCallbac` with resteasy… or at least it doesn't concern this issue!

Why don't you come explain your problem in details on the pac4j-user mailing list? It would be easier to help you :)

[2016-11-09 15:08] rkorn86 commented on #6
Done - https://groups.google.com/forum/#!topic/pac4j-users/-dv6JPe9v8Q

[2016-11-09 15:57] victornoel commented on #6
To implement this, we would need to implement something like this: https://dzone.com/articles/annotations-your-way-resteasy

[2016-11-09 16:00] victornoel commented on #6
Or maybe better: https://github.com/resteasy/Resteasy/blob/master/testsuite/integration-tests/src/test/java/org/jboss/resteasy/test/providers/custom/CustomValueInjectorTest.java

[2016-11-09 17:07] victornoel commented on #6
@rkorn86 I will think of workaround tomorrow :)

[2016-11-10 09:58] victornoel commented on #6
Ok, so here are some ideas to get the current profile inside a resource method:

If you are running on top of a servlet container, you can very simply exploits the `HttpServletRequest` as explained [there](https://github.com/pac4j/j2e-pac4j#5-get-the-user-profile-profilemanager):
[code]

If not, then it should be possible but a bit more complex, I will think about it in the future…

[2016-11-11 09:17] rkorn86 commented on #6
Workaround works like a charm. Sorry, but I dont have the time/knowledge to help you currently.

[2016-11-11 09:54] victornoel commented on #6
Great, I will add it to the README. No problem for the help :)

[2016-11-12 10:54] #5 closed

[2016-12-07 16:50] andriusvelykis opened #10 "Pac4JSecurityFeature should look for annotations in superclass/interface"
I am having trouble with `@Pac4JSecurity` annotations not being located on resource class/methods when the resource class had been dynamically extended (e.g. via a `javassist` `ProxyFactory`).

The annotation getters in [`Pac4JSecurityFeature`](https://github.com/pac4j/jax-rs-pac4j/blob/9066cf4b42fadee15de9d6c3dcfdd8398b2deac5/src/main/java/org/pac4j/jax/rs/features/Pac4JSecurityFeature.java#L58)

[2016-12-07 17:02] victornoel commented on #10
Yes, that makes sense!

I will look at it tomorrow. The only thing is that I don't want to rely on `AnnotatedMethod` from Jersey because we have to support any JAX-RS runtime, but I don't think this is a too complex functionality to implement.

Thanks :)

[2016-12-08 10:35] #10 closed

[2016-12-08 10:36] victornoel commented on #10
@andriusvelykis could you check that everything is ok with the latest SNAPSHOT? (you can retrieve it from sonatype's OSS Snapshot repository, documented in the README)

[2016-12-08 14:56] andriusvelykis commented on #10
Thanks - just checked, seems to be working in my case!

[2016-12-08 15:04] victornoel commented on #10
Great, I will let it steep for a few days and also see if you don't find other bugs or limitation and then we will release a new version then :)

[2016-12-22 21:04] wardr opened #11 "Proposal: @HasRole and @HasPermission annotations"
Currently,  resources are protected via authorizers that are created on application startup, e.g. `@Pac4JSecurity(authorizers = "foo")`.

A much more convenient way of doing this would be to have two annotations:

[code]

So you could have annotations like @HasRole("superuser") or @HasPermission("admin:view").

[2016-12-23 09:15] victornoel commented on #11
I will find some time to implement it soon :)

[2016-12-23 09:19] victornoel commented on #10
@andriusvelykis do you need it released with version 1.0.1 or can you wait for the next 1.1.0 which will include some new features and be released in a few weeks?

[2016-12-23 09:20] andriusvelykis commented on #10
No rush for me - feel free to release as 1.1.0. Thanks!

[2016-12-28 17:33] wardr commented on #11
Just wanted to add, now that I better understand pac4j, I think this improvement would be a big step forward towards making the developer experience with pac4j better, especially if it can use the default client to make it as simple as possible to use.

The reasons I believe these annotations are a big improvement are:

1) Only need to declare the role/permission you want to filter on in one place

[2016-12-29 09:39] leleuj commented on #11
The pac4j design is merely driven by the fact it must work for 14 implementations and more. Hence its generic nature and the easy switch between one framework to another.

I understand your point of view, but I'm not so enthusiastic about this syntactic sugar. For me, it's another thing to learn: what happens for example if I encounter this annotation without being authenticated? Does it have the

[2016-12-29 10:39] victornoel commented on #11
In my head, these annotations would have been used in conjunction with a `Pac4jSecurity` since you still need to specify the clients to be used.
Or maybe they should be a replacement (and thus the clients must be specified next to the authorization rule).

It's true that it can make things a bit more complex to understand (even though simpler to express).

I don't really know what is best, on one

[2016-12-29 16:14] wardr commented on #11
My suggestions come from my view that for a young project like pac4j, anything that helps people have a good experience with it out of the box without having to invest too much first is important to increasing adoption.  A big part of that is making it really, really easy to get started, and gradually engage developers with a richer set of tools as more complex requirements arise.

Both of you are

[2017-01-02 09:33] leleuj commented on #11
Sure, it makes sense to have these new annotations. I just wanted to highlight the fact that these additions must be wisely thought.

[2017-01-03 09:56] victornoel opened #12 "Port to pac4j 2.0.0"

[2017-01-23 15:21] victornoel commented on #11
I won't have the time to tackle that soon, so let's postpone it and release a new version soon before starting to move everything to pac4j v2.

[2017-01-27 21:48] sebargarcia opened #13 "jax-rs-pac4j + Custom ExceptionMapper"
When a 401 Unathorized is thrown by pac4j SecurityFilter no exception is call, so we can not use Exception mapper.
Use case reported here:
https://groups.google.com/forum/#!topic/pac4j-users/EaCtHEgiWm4

[2017-01-28 11:59] victornoel commented on #13
Thanks @sebargarcia, I'm going to take a look at that :)

[2017-01-28 12:30] victornoel commented on #13
Ok, first thing, `Exception` thrown in `ContainerRequestFilter` are passed to an `ExceptionMapper` if there is one (both in jersey and resteasy), that's a good news :)
Now I have to think about which exception to use to represent pac4j http response, and maybe introduce a default `ExceptionMapper` for those... still more to investigate!

[2017-01-29 14:02] victornoel commented on #13
After some thought, I'm not so sure anymore this is a matter of changing something in jax-rs-pac4j...

Maybe it would simply be better for you to extend the JAX-RS filter (`CallbackFilter` I guess) and override `org.pac4j.jax.rs.filters.AbstractFilter.adapter()` to define how to build the `Response` depending on the outcome of pac4j logic...

I'm not totally comfortable with how things are organis

[2017-01-29 23:57] sebargarcia commented on #13
Hi Victor, thanks for the time invested in this topic. First of all sorry for my english.
Indeed what I really want is send in JSON format a message about the error and the correct http status code (I mean define my own response in case of errors).  I don't want to send the default error page, instead I want to send a JSON message (and in spanish language).
I understood what you say, but why pac4j

[2017-01-29 23:58] sebargarcia commented on #13
This helps me. https://dennis-xlc.gitbooks.io/restful-java-with-jax-rs-2-0-2rd-edition/content/en/part1/chapter7/exception_handling.html

[2017-01-30 08:43] victornoel commented on #13
I see what you mean, but if we start throwing exceptions in specific cases and not throwing exceptions in others (e.g. 403 or 302), it's going to be difficult to have a clear idea of pac4j's behaviour.

And by the way, the `NotAuthorizedException` is meant to be used at the client side, not at the server side. If you look at Jersey's code, they are not taken into account by Jersey server, they are

[2017-01-30 09:41] leleuj commented on #13
Jumping into this discussion.

Once again, we must never forget that pac4j is a security engine at first, meant to be used in many frameworks, from J2E to JAX-RS and this implies some behaviours / constraints.

The security filter/controller delegates to the security logic which performs its logic on the specific web context of the framework (`JaxRsContext` here). If it's not enough, the `HttpActi

[2017-01-30 09:49] victornoel commented on #13
I think that ExceptionMapper is a standard mechanism to handle resource or extra libraries' exception.
In that way, it could be used by pac4j, but it would mean for us to:
 - define new exceptions for each of the possible outcomes of pac4j's behaviour
 - define a default ExceptionMapper

I think it is a lot of  work for a cumbersome use (because it means that the user has to handle this extra know

[2017-01-30 09:53] victornoel commented on #13
For the record, in JAX-RS, the `ErrorController` would be implemented using a `ContainerResponseFilter` I think.

[2017-01-30 10:02] victornoel opened #14 "Exploit Config's Logics"
Use the logics configured in the `Config` and provide default ones too.

See pac4j/pac4j#810.

[2017-01-30 10:05] victornoel opened #15 "Exploit Config's HttpActionAdapter"
Use the `HttpActionAdapter` defined in the `Config` an provide a default one.

[2017-01-30 13:09] sebargarcia commented on #13
Now I see! thank you guys for the information. I will do some tests and then tell you!

[2017-01-30 13:11] victornoel commented on #13
@sebargarcia are you using dropwizard-pac4j or simply jax-rs-pac4j? Don't hesitate to ask for more details on how to solve this problem in particular on the mailing list :)
I will keep this issue open until #15 is solved, because it would be the clean way of fixing your problem I think.

[2017-01-30 13:14] victornoel commented on #14
See pac4j/pac4j#810 for the customization of Logics (1.9.x included)

[2017-01-30 13:35] sebargarcia commented on #13
Great! Thanks! I am using jax-rs-pac4j on Payara Server.

[2017-01-30 14:14] #15 closed

[2017-01-30 14:22] victornoel commented on #13
Closing this, let's continue discussion on the user mailing list :)

[2017-01-30 14:22] #13 closed

[2017-02-14 18:55] #14 closed

[2017-02-18 11:37] #12 closed

[2017-03-08 06:43] rwalkerands opened #18 ""Just" dropping in jax-rs-pac4j-2.0.0-RC1.jar breaks webapp"
I'm just (today) getting started with pac4j, and I'm adding it to an existing webapp built on Jersey. (I use Tomcat as my Servlet container.)

I have happily been using Jersey's (JAX-RS's) auto-scanning to find resources and providers, i.e., I have no Application or ResourceConfig subclass.

My setup is as described at https://jersey.java.net/documentation/latest/deployment.html#deployment.servlet

[2017-03-08 08:37] victornoel commented on #18
You are right, nothing was ever done to make it work correctly with autoscanning and we should fix that :)

The problem is that all the features in jax-rs-pac4j need a pac4j `Config` to work, so it is not possible to simply mark them as `@Provider` (which I did, that's why Jersey tries to load it via autoscanning and fails, because it does not make sense without a pac4j `Config`).

I'm not so fami

[2017-03-08 08:45] victornoel commented on #18
I committed the first step.
For now, you could try to see if it is possible to disable autoscanning for a single package… or maybe rely on the snapshot version of jax-rs-pac4j.
It is fixed both in 1.x and 2.x :)

[2017-03-09 03:32] rwalkerands commented on #18
I had no expectations at all.

However, is it possible to do it in a way that is similar to what you are already doing (and the way that JAX-RS does it in general): i.e., by allowing the user to define a `@Provider` that implements an interface that is _specifically_ for initialization? E.g., something like JAX-RS's `ContextResolver` interface.

[2017-03-09 08:18] victornoel commented on #18
That would make sense yes! As I said, I'm not familiar with these aspects of JAX-RS so your input is helpful :)

What bother me (only as a perfectionist :) with `ContextResolver` is that it is meant to be used at runtime in the context of a given request (`Providers` takes a `MediaType` for example to resolve a given `ContextResolver`). Actually I use it at runtime under the hood to provide pac4j'

[2017-03-10 02:54] rwalkerands commented on #18
I am no expert on JAX-RS, just a "happy customer" of some of the most basic features.

In particular, I was not suggesting using `ContextResolver`, but "something like" `ContextResolver`. But perhaps even that suggestion was wrong. :-(

[2017-03-10 07:55] victornoel commented on #18
@rwalkerands it was a good suggestion :) I'm just looking for the idiomatic way to do what we are trying to do and was wondering if you knew. I will continue looking a bit and then implement it during the week-end I think.

[2017-03-11 15:26] victornoel commented on #18
Yep, no other way than using `ContextResolver`, I will manage with that :)

[2017-03-11 17:12] victornoel commented on #18
@rwalkerands It's not exactly what you wanted, but as a starter, could you try to see if the following work with you:
- Use jax-rs-pac4j 2.0.0-RC2-SNAPSHOT
- Create the following two classes in your classpath to set it up:

[code]

[code]

Note that you can either setup the `Config` from `Pac4JConfig` or from `Pac4JFeature` and uncomment the commented register for `JaxRsConfigProvider`.

My curren

[2017-03-13 23:34] rwalkerands commented on #18
I was able to get it to work, though it wasn't as straightforward as you suggest ... I needed to use the snapshot of pac4j-core as well, because you are relying on it (e.g., the change from `JaxRsCallbackUrlResolver` to `JaxRsUrlResolver`). That meant also changing my AuthorizationGenerator (it must now also take a Context parameter and return the Profile).

Also, it is important to implement the

[2017-03-14 08:10] victornoel commented on #18
Ha yes, good points!

You are right, it's not correct to build the `Config` everytime the `ContextResolver` is used, I forgot about that…
Still, are you sure you need the field to be `static` in the `ContextResolver`? I would expect Jersey to instantiate it only once (so you initialise the `Config` in the constructor for example), but call the method multiple times, but I admit I haven't tried :)

[2017-03-14 22:04] rwalkerands commented on #18
You are right. The field does not have to be static.

I don't (yet) see any other problems.

[2017-03-15 08:22] victornoel commented on #18
Thanks for the feedback!

So for now, you can either:

1. use pac4j 1.2.2 (well, when it will be released, but if you tell us you are going to use it, we will release it very soon since there is no other bugs waiting to be fixed on it) and setup things by hand (I only removed the @Provider in the 1.x branch, not introduced the use of a `ContextResolver` for the `Config`, but it shouldn't be so har

[2017-03-15 08:27] leleuj commented on #18
2. pac4j v2.0.0-RC2 will be released next week along the implementations depending on it and then, only bugs will be fixed for a final release at the end of April or beginning of May.

[2017-03-15 08:36] victornoel commented on #18
ok, great, thanks for the extra information :)

By the way, I wanted to ask you @leleuj, our problem here is that JAX-RS has a mechanism to autoload some modules (those annotated with `@Provider`) without explicitly configuring them (except putting their jar in the classpath).
It is great but the problem is that jax-rs-pac4j is containing multiple modules for different jax-rs containers (jersey vs

[2017-03-15 22:14] rwalkerands commented on #18
I started using pac4j only last week, with v2.0.0-RC1. Whether this was a good idea ... anyway, what I have, is working. So I don't think I need/want to go "back" to 1.2.2.

[2017-03-16 09:54] leleuj commented on #18
pac4j 1.2.2 must have been abandoned for years, it was about using jax-rs-pac4j 1.2.2. In all cases, we focus our efforts on the incoming version 2.0.0; so it's better to start using it.

@victornoel : having multiple modules seems a huge burden to me, I would choose to not annotate the modules and document the `@Provider` solution. We can revisit this choice if the question arises again and again

[2017-03-16 14:22] victornoel commented on #18
Ok, I will document that, cleanup things and then close this issue which should integrate 2.0.0-RC2 :)

[2017-03-22 08:33] victornoel opened #19 "Prefer to use Optional over nullable CommonProfile in Jersey parameter injection"
Currently we inject a potentially `null` `CommonProfile` with `@Pac4JProfile` but we should prefer using `Optional` instead for this use case.
A non-null `CommonProfile` should also be injectable of course.

[2017-03-27 17:36] victornoel commented on #18
@rwalkerands FYI, jax-rs-pac4j 2.0.0-RC2 was released today, I will soon document what I explained here in the README, but you can already start using it (and report any problem that you have with it ;). Thanks again (I will close this issue when the documenting is done!)

[2017-03-28 20:30] #19 closed

[2017-04-16 10:04] victornoel commented on #18
Finally did it, see https://github.com/pac4j/jax-rs-pac4j/blob/master/README.md#jax-rs-autoscanning

[2017-04-16 10:04] #18 closed

[2017-06-14 15:16] eroux opened #20 "wrong version number"
I think `2.0.1-SNAPSHOT` should be `2.1.0-SNAPSHOT` in order to follow pac4j versionning

[2017-06-14 15:19] eroux opened #21 "usage (and doc improvement)"
Following the README is pretty clear until [section2](https://github.com/pac4j/jax-rs-pac4j#2-define-the-configuration-config--client--authorizer) which states

and then cites a lot of code with no context (no function name, class, file name, etc.). I don't understand what to do with this code or what the sentence quoted above means. Can you please explain?

[2017-06-14 16:12] victornoel commented on #20
@eroux why? what changed since 2.0.0 that is a new feature? There was no commit...

[2017-06-14 16:17] victornoel commented on #21
@eroux in order to configure pac4j, you need to provide a `Config` object (like [this](https://github.com/pac4j/jax-rs-pac4j#jax-rs-configuration)).

The code simply shows examples of `Config` object, this is specific to pac4j, not jax-rs-pac4j, so you can do it wherever you want as long as you pass the config object to the various `Features` and `Providers` that you register into the JAX-RS resou

[2017-06-14 16:25] eroux commented on #20
It's just that looking at the [commit history](https://github.com/pac4j/jax-rs-pac4j/commits/master) it seems jax-rs-pac4j follows pac4j's version number, and is released at the same time. That may not be true, but I would be really puzzled if the version synchronization was purely fortuitous... and as pac4j's next version is 2.1.0, maybe jax-rs-pac4j could follow that and release a 2.1.0 version

[2017-06-14 16:28] millross commented on #20
There's no good reason why implementations should follow the pac4j core numbering. Quite the opposite in fact, an implementation's API could break independently of the pac4j API (requiring major version change) and if an implementation doesn't have new features, even if pac4j core does, then the implementation version will lag pac4j. For example vertx-pac4j had to go to version 3 because its API c

[2017-06-14 16:29] millross commented on #20
It would of course be nice if we could, but each implementation is working off 2 versionable elements - pac4j and the framework/toolset it applies to. You could equally argue that in fact jax-rs-pac4j should follow jax-rs versioning for clarity.

[2017-06-14 16:33] victornoel commented on #20
thanks @millross for the explanation.
I understand your point of view @eroux, it makes sense, especially now because pac4j and jax-rs-pac4j versions match, but it won't always be the case.
It is true that there will be time when a new version of jax-rs-pac4j will be released at the same time as a pac4j version (and it will maybe happen for 2.1.0) but anyway, for now jax-rs-pac4j depends on pac4j 2

[2017-06-14 16:33] #20 closed

[2017-06-14 16:34] victornoel commented on #21
It is true that the documentation assumes that the reader is familiar with JAX-RS and pac4j, if you have ideas of improvements, I'm interested, but I don't have the time to write much more documentation right now :)

[2017-06-14 16:36] eroux commented on #21
Thank you! Not really clerarer I'm affraid... I think the doc about the Config object is http://www.pac4j.org/docs/config.html but even with that I'm really puzzled on where it is used...? I'm familiar with JAX-RS but not with pac4j. In fact I'm trying to have a very little demo working and it's really complex... is there an software somewhere that uses pac4j and that I could get inspiration from?

[2017-06-14 16:37] victornoel commented on #21
do you plan to use it exclusively with JAX-RS?

[2017-06-14 16:37] victornoel commented on #21
(i.e. not with dropwizard)

[2017-06-14 16:38] eroux commented on #21
yes, only JAX-RS, but I guess I can inspire from the code of the dropwizard app?

[2017-06-14 16:39] victornoel commented on #21
ould you show me how you setup your jax-rs resources and features? Which container are you using (jersey, resteasy, grizzly, jetty, etc)?
If you give me that, I will include pac4j in it and we can add it to the documentation as a self-contained example :)

[2017-06-14 16:41] eroux commented on #21
That's very kind, thanks a lot! I only have a boilerplate now: https://github.com/BuddhistDigitalResourceCenter/auth-api I'm trying to figure out what to do to have, say `/login` to take a login/pass and spit a jwt token... (see the design doc of the repo) but I should probably start with more simple things!

[2017-06-14 16:42] victornoel commented on #21
ok, I will get back to you soon :)

[2017-06-14 16:43] eroux commented on #20
ok, thanks a lot for the explanation, that makes sense!

[2017-06-15 17:10] victornoel commented on #21
For the record, I answered on the mailing list: https://groups.google.com/d/msg/pac4j-users/qjorvxOmSrk/mP4E6dgTCwAJ

[2017-06-15 17:36] halflite opened #22 "NullPointerException on DefaultCallbackLogic"
jersey-mvc-freemarker 2.25.1
jersey-container-grizzly2-servlet 2.25.1
grizzly-http-servlet 2.3.28
jax-rs-pac4j 2.0.0
pac4j-oauth 2.0.0

https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/engine/DefaultCallbackLogic.java

Method redirectToOriginallyRequestedUrl

https://github.com/javaee/grizzly/blob/master/modules/http-server/src/main/java/org/glassfish/grizzly/http

[2017-06-17 10:58] victornoel commented on #22
Good find, so I will commit a simple fix soon, but until it is released, you can workaround this problem by doing the following:

Override `GrizzlySessionStore` to fix the problem:
[code]

And use it instead of the original one by setting it on the pac4j Config:
[code]

And it should be good :)

[2017-06-17 11:03] #22 closed

[2017-06-17 11:07] victornoel commented on #21
So, if you are interested to document this use case, you submit a PR :)

But before let's see ho it unravel, I opened two related issues in pac4j so maybe some better solutions will be found via discussion: pac4j/pac4j#938 and pac4j/pac4j#939

[2017-06-19 12:31] leleuj commented on #22
I remember some discussion on this kind of issue for the `ProfileManager` used in Play (as the profiles are saved in the Play Cache which does not support `null` in some implementations).
We ended up putting empty values: https://github.com/pac4j/pac4j/blob/master/pac4j-core/src/main/java/org/pac4j/core/client/IndirectClient.java#L102

[2017-06-19 12:41] victornoel commented on #22
@leleuj in this case it is clearly not needed as there is a `removeAttribute` method exactly for this purpose…

[2017-06-19 12:42] victornoel commented on #22
@leleuj also I think it is the context or the session store that should bother with that, not their clients… it's not their problem how things are stored.

[2017-06-19 12:52] leleuj commented on #22
Yes, it was a specific store and thus you need to handle that by yourself...

[2017-06-19 14:21] victornoel commented on #22
ah ok, but it's ok right now, it's fixed.

[2017-06-24 10:56] victornoel opened #23 "Better error messages w.r.t. the various containers"
This was first discussed in pac4j/pac4j#941.

Basically, there is some non-working combinations (mainly using the wrong JaxRsConfigProvider with a given container: no session support when expected, or servlet support with a non-servlet container, etc) and even though this is more or less documented, the errors can be quite cryptic.

We should see if we can improve the error message maybe...

[2017-06-24 11:00] victornoel opened #24 "Better support stateless/sessionless use cases"
When using jax-rs, usually we are building REST API where there is no need for session management.

We should maybe introduce some `NoopSessionStore` to be used in these situations, better document these use case (e.g.: using a direct client to setup a JWT session and then using a direct client to exploit the JWT session, see the discussion there: https://groups.google.com/d/msg/pac4j-users/qjorvx

[2017-06-26 17:33] leleuj commented on #24
If you come to provide a `JwtSessionStore` or `CookieSessionStore` or `NoopSessionStore`, I think it will make sense to have it in pac4j core project later on...

[2017-06-26 17:52] victornoel commented on #24
yep, it does make sense... I still need to investigate this whole idea of using this kind of store with an indirect client, I think it seems a good idea, but it's not clear yet in my mind :)

[2017-07-04 15:15] sebargarcia opened #25 "Update pac4j-core dependency to 1.9.9 in jax-rs-pac4j 1.2.1"
The version jax-rs-pac4j 1.2.1 point to pac4j core 1.9.6 instead of the last version 1.9.9

[2017-07-04 15:16] victornoel commented on #25
This is normal, it is because it was released just after pac4j 1.9.6.

Nothing prevent you from using another 1.9.x version of pac4j by using maven's dependency management in your own project.

[2017-07-04 15:16] #25 closed

[2017-08-03 15:20] mtmmtm9 opened #26 "inconsistent documentation (missing class)"
The class JaxRsCallbackUrlResolver is not found. It was mentioned in the documentation.
How can I get this working ? Some demo-code would also be nice.

[2017-08-05 09:09] leleuj commented on #26
Since pac4j v2, the `CallbackUrlResolver` has been renamed as `UrlResolver` as it's not only used for callbacks.
So the `JaxRsCallbackUrlResolver` is now named `JaxRsUrlResolver`: https://github.com/pac4j/jax-rs-pac4j/blob/master/src/main/java/org/pac4j/jax/rs/pac4j/JaxRsUrlResolver.java

I updated the README.

[2017-08-05 09:09] #26 closed

[2017-09-13 03:24] hello-ming opened #27 "MediaType compare problem"
In this file  jax-rs-pac4j/src/main/java/org/pac4j/jax/rs/pac4j/JaxRsContext.java

 161           if (MediaType.APPLICATION_FORM_URLENCODED
 162                   .equalsIgnoreCase(Objects.toString(requestContext.getMediaType()))) {

when media type contains charset info(e.g. application/x-www-form-urlencoded;charset=UTF-8),
formdata will not be available.

I have this issue when useing ajax to po

[2017-09-13 06:48] rwalkerands opened #28 "Allow @Pac4JSecurity(...) to modify client list, not just replace it"
A suggested enhancement:

I have configured a default list of clients _not_ currently including an `AnonymousClient`, and I require authentication, and that is fine for _almost_ all methods. So I have `@Pac4JSecurity` everywhere, without any parameters to the annotation.

Now I want to write a method that answers the question "am I authorized to do such and such" by returning a Boolean value.

Cur

[2017-09-13 07:01] rwalkerands commented on #28
Oops, the issue _title_ reflects options 1 and 2. My preference changed as I thought through the options.

[2017-09-13 07:16] victornoel commented on #27
yep, there seems to be a bug, good find! I will take a look at it quickly

[2017-09-13 10:41] victornoel commented on #28
@leleuj would it make sense to have the kind of feature described by the option 3 of this issue.
I.e., on top of passing a string list of clients to a `SecurityLogic` (via a filter for example), we could pass the name of a list of clients that was defined via the `Config`.

I'm not sure it is really relevant to introduce it in pac4j or even jax-rs-pac4j since it can be handled more or less program

[2017-09-13 11:07] #27 closed

[2017-09-13 11:09] victornoel commented on #27
@hello-ming would you be so kind as to test if your problem is fixed with latest snapshot (see https://github.com/pac4j/jax-rs-pac4j#development)? Thanks :)

[2017-09-15 07:28] leleuj commented on #28
For sure, it's feasible. I need to think about it a little more, I have the feeling it's a bit too much (magic), but why not?

[2017-11-05 12:25] gbalkumar opened #30 "Pac4JValueFactoryProvider.Binder() fails with NoClassDefFoundError when using Jersey 2.26"
The following code from the JAX-RS integration documentation fails when using Jersey 2.26

`resourceConfig.register(new Pac4JValueFactoryProvider.Binder());
`

with the exception -

[code]

Looks like AbstractContainerRequestValueFactory has been removed in Jersey 2.26 and [JERSEY #3630](https://github.com/jersey/jersey/issues/3630) suggests that implementations should not depend on internal.* pac

[2017-11-05 12:38] victornoel commented on #30
good point, I will look at it soon :)

[2017-11-05 12:40] victornoel commented on #30
btw, be careful because jersey 2.26 is really a big breaking change release because they moved from jax-rs 2.0 to jax-rs 2.1.

I don't guarantee that jax-rs-pac4j works with jax-rs 2.1 (I didn't even try).

[2017-11-05 13:03] gbalkumar commented on #30
Thanks. Except for that error, other things have been working fine so far with Jersey 2.26 although I will admit that my use-case so far is very basic.

[2017-11-05 13:05] victornoel commented on #30
good to know, I will try to rewrite that code without the internal classes then!

[2017-11-05 14:52] victornoel commented on #30
After some work, I arrived to the conclusion that we would need to rewrite the internal classes ourselves using hk2. So this means we would actually consider this new implementation to be an hk2-specific implementation and not a jersey-specific implementation.
That's not a problem per se, but that's a lot of work that would reproduce what Jersey was doing for us using the internal classes.

I'm no

[2017-11-21 16:22] victornoel commented on #6
Closed by #31 :) Thanks again @yegorius

[2017-11-21 16:22] #6 closed

[2017-11-26 17:32] yegorius opened #32 "Alternative mechanism of obtaining of CommonProfile and ProfileManager"
Per jax-rs spec there is `SecurityContext`, which can be injected into a resource with `@Context` annotation and pac4j-jaxrs already has it's own implementation of `SecurityContext`, which is `JaxRsProfileManager.Pac4JSecurityContext`. The `SecurityContext` class is a native way of providing security features to a resource, so I was wondering whether it is possible to add a method to `Pac4JSecurit

[2017-11-26 17:58] victornoel commented on #32
You are right on point :)

I was exactly in the process of moving everything pac4j-related that could be accessed during a request to the jax-rs `SecurityContext` while migrating to pac4j 3.0.0.

It is maybe a better idea to do this now and not wait for pac4j 3 actually (while staying backward compatible with present functionalities until the move to pac4j 3).

[2017-11-26 18:26] victornoel commented on #32
Hm, it's not so easy because of the way pac4j currently work: basically, the big problem is that I'm not able to know if I should look for the profiles into the session or not so I cannot construct a `Principal`...

This is fixed in pac4j 3 and that's why it was natural to do it at that point. Do you need this feature or was it just an desirable enhancement? Can it wait for pac4j 3 (few months)?

[2017-11-26 18:39] victornoel commented on #32
Actually I found an interesting alternative.

Do you think we should get access to the `CommonProfile` (so that we don't have to bother to know if we should read from session or not) and the `WebContext` (from which we can build what we want) or just the `CommonProfile` actually?

[2017-11-26 18:43] yegorius commented on #32
Oh great to know you are working on this already! I can get my job done with current annotations and my proposal is just, yes, a desirable enhancement :)

Moreover, I have already tried to implement what I was talking about for RestEasy. I was almost done with implementation but at the end it turned out that ReatEasy injects `SecurityConext` wrapped in a `Proxy`, so when you try to cast the refere

[2017-11-26 18:52] yegorius commented on #32
Re: `CommonProfile` + `WebContext`. I am very new to Pac4J and I haven't yet used every feature of it, so I am probably not the best source of opinion :)

[2017-11-26 19:06] victornoel commented on #32
This means you can't cast the `SecurityContext` at all in resteasy? That's really bothering :/
Anyway, that was in my plans so it's cool to introduce this, we will see if an easy solution to exploit it with resteasy emerges, I will be careful not to remove anything that will be needed in the case `Pac4JSecurityContext` is not usable with resteasy.

[2017-11-26 20:16] yegorius commented on #32
Yes, you can't cast `SecurityContext` if it's injected. I am thinking about reaching out to RestEasy developers for an advice.

[2017-11-26 20:23] victornoel commented on #32
Yep, good idea, there are maybe other ways to handle that situation...

[2017-12-02 13:22] victornoel commented on #32
Actually, Jersey neither inject directly the `SecurityContext`.
An alternative is thus to:
 - For jersey, get the ContainerRequestContext injected in your resource (`@Inject ContainerRequestContext requestContext` to then retrieve the real `SecurityContext`).
 - For RestEasy, use `ResteasyProviderFactory.getContextData(SecurityContext.class)` directly.

[2017-12-02 15:14] victornoel commented on #32
@yegorius could you check #33 (in particular the tests and the updated README) to see if this kind of things are answering what you had in mind? :)

btw, I added your name as author of the reasteasy profile injection implementation, hope that's ok :)

[2017-12-02 15:45] yegorius commented on #32
I have checked #33 and everything looks good to me.

[2017-12-02 16:06] victornoel commented on #32
thanks :)

[2017-12-02 16:18] #32 closed

[2017-12-03 12:57] bbarroux commented on #21
One of the most glaring issue is that the code fragments provided in the documentation are not correct/compilable anymore.
The code fragment are based on an old version where the config was passed to JaxRsContextFactoryProvider, Pac4JSecurityFeature, etc as a constructor argument.
This has been changed and is not an option anymore.

So the reader is left trying different things and hope (without s

[2017-12-03 13:06] victornoel commented on #21
@bbarroux good point, any way for you to provide a PR to clarify or even simplify (if tests already exists that illustrate some points) the README?
Or at least a clear list of what is working and what is not?
Thanks :)

[2018-01-19 12:39] jarnaiz opened #34 "Pac4JProfileInjectorFactory disable CDI Injection Resteasy"
Im using jax-rs-pac4j with resteasy and wildfly 10.1.0.Final Im using this config:

[code]

And this controller:

[code]

The class ```TokenLogin``` is a POJO with any annotations. If I add the ```Pac4JProfileInjectorFactory``` to FeatureContext context, the tokenLogin is not injected and is null and without the  ```Pac4JProfileInjectorFactory``` the tokenLogin is injected as expected.

My workaro

[2018-01-20 08:24] victornoel commented on #34
@jarnaiz thanks for the report.

To be sure I understand, the situation is that:
 - With `Pac4JProfileInjectorFactory`, `TokenLogin` is not injected but the `@Pac4jProfile CommonProfile profile` is as expect.
 - Without `Pac4JProfileInjectorFactory`, `TokenLogin` is injected as expected but then of course `@Pac4jProfile CommonProfile profile` is not.

Your problem is that you want both (which make

[2018-01-22 13:23] jarnaiz commented on #34
Hello @victornoel

You are right in all the questions:
- With ```Pac4JProfileInjectorFactory``` the parameters ```@Pac4jProfile CommonProfile profile``` is injected as expected but the ```TokenLogin``` is not.
- Without ```Pac4JProfileInjectorFactory```, ```TokenLogin``` is injected as expected but then of course ```@Pac4jProfile CommonProfile profile```` is not.

I want to inject but, yes :)

The

[2018-01-27 10:30] victornoel commented on #34
Ok, so it is most certainly a bug, but I'm a bit out of my depth concerning CDI and how the implementation for profile injection is breaking it...

Maybe @yegorius, since you first wrote `Pac4JProfileInjectorFactory`, you could tell us what you make of this and see what could be the problem? :)

For the record, the only advantage of using the shipper injection mechanism (`Pac4JProfileInjectorFacto

[2018-01-27 22:27] yegorius commented on #34
Please read this [Reasteasy doc](http://docs.jboss.org/resteasy/docs/3.1.4.Final/userguide/html/CDI.html) very carefully. It says:

`Pac4JProfileInjectorFactory` correctly implements `InjectorFactoryImpl` interface provided by Resteasy. It obeys API contract by calling `super.createParameterExtractor(...)`. So far I don't see any faulty behaviour in `Pac4JProfileInjectorFactory` and I think the pr

[2018-01-28 15:45] victornoel commented on #34
Thanks for your feedback!

I also read this:

From what I understand, maybe something like this is happening:
 - CDI tries to instantiates the @Path annotated component
 - it fails because of our injector or something like that
 - resteasy takes over to instantiate but then does not instantiate the CDI related things

@jarnaiz do you have maybe some logs that would show us more details about this

[2018-01-28 15:46] victornoel commented on #34
You could also try to remove the `@Stateless` annotation, since this is not stateless because of our injector that relies on the current request!

[2018-01-31 11:55] jarnaiz commented on #34
ok, thanks @victornoel I will try what you have told me

Regarding your question: Do you use the ```resteasy-cdi``` dependency? Yes I have it.

[2018-03-15 09:41] pierre-l commented on #30
Hi, Github newbie here.

I think I have a decent solution, see the commit above. Tests are failing, I may have introduced a classpath issue there. I'm struggling to resolve this:

The Resteasy client doesn't seem to be able to find any writer. @victornoel, have you ever encountered this?

[2018-03-18 12:44] victornoel commented on #21
I'm closing this, feel free to open a PR directly

[2018-03-18 12:44] #21 closed

[2018-04-14 17:43] #30 closed

[2018-04-25 09:07] ganeshs commented on #34
@jarnaiz @victornoel I have made some some changes in #42 that could possibly fix this issue as well. I have added tests for resteasy with CDI as part of that.

@jarnaiz you could possibly take those changes and see if it helps your case.

[2018-04-25 10:25] victornoel commented on #34
@jarnaiz yes please do so :)
thanks a lot @ganeshs

[2018-05-25 14:02] victornoel opened #43 "Add an easier to use constructor for Pac4JValueFactoryProvider.Binder"
`Pac4JValueFactoryProvider.Binder` has a one argument constructor that takes a profile, but for tests, sometimes, it is interesting to pass a lambda so that the tester can change dynamically the current user:
[code]

[2018-06-16 13:19] victornoel opened #44 "Release 2.3.0 and 3.0.0"
@leleuj could we release both 2.3.0 and 3.0.0? And then for dropwizard-pac4j as well?

In particular, I fixed a embarrassing bug (cf release notes ;) that someone reported to me.

[2018-06-16 13:34] #43 closed

[2018-06-16 13:36] victornoel commented on #34
@jarnaiz did you get the opportunity to see if things were working as expected? For the record, we are going to release 2.3.0 and 3.0.0 soon (see #44)

[2018-06-18 13:48] leleuj commented on #44
No problem. I will do that soon.

[2018-06-19 08:08] leleuj commented on #44
It's in progress, I'll keep you posted...

[2018-06-20 07:02] leleuj commented on #44
I started the Dropwizard releases this morning, they will show up during the day in the Maven central repository, the jax-rs-pac4j releases are already available.

[2018-06-20 07:02] #44 closed

[2018-06-20 07:02] victornoel commented on #44
thanks @leleuj :)

[2018-06-21 06:56] leleuj commented on #44
@victornoel I let you post the releases announcements on the pac4j-announce mailing list: https://groups.google.com/forum/?fromgroups#!forum/pac4j-announce Thanks

[2018-06-24 14:47] victornoel commented on #44
@leleuj done :)

[2018-08-22 14:12] sebargarcia opened #45 "jersey-pac4j + Payara 5 not working"
Hi, I migrate from Payara 4 to Payara 5 and updates pac4j libraries from version 1.9.x to the last one 3.x.x .I made all the changes neccesaries to run the project but when i tried i get this warning:

The stack trace:

[code]

I use the ldap auhtenticator and its authenticates correctly:  DEBUG o.p.core.engine.DefaultSecurityLogic - authenticated and authorized -> grant access

but when I inject

[2018-08-22 14:38] victornoel commented on #45
@sebargarcia could you verify which version of Jersey is used in Paraya 5 and could you also show me what are the dependencies you have been using to setup pac4j.

You need to use either `jersey225-pac4j` or `jersey-pac4j` depending on the version of Jersey you are using.

[2018-08-22 14:43] sebargarcia commented on #45
Yes sure, payara 5 uses jersey 2.26
my pom dependencies are

[code]

I will do a very basic project to test this.

[2018-08-22 14:45] sebargarcia commented on #45
mmm wait i re check and apparently payara 5.182 uses jersey 2.27
https://github.com/payara/Payara/pull/2658

[2018-08-22 14:49] victornoel commented on #45
I suppose there was more breaking changes in jersey 2.27. This must be investigated. I can't promise anything, so I would recommend that you at least do the investigation and see if either:
- there are things to be changed in jersey-pac4j for 2.27
- there are extra dependencies to add and it will solve the problem easily...

[2018-08-22 14:49] victornoel commented on #45
Until then, you can stick to a version using jersey 2.26... it's not ideal but well... :)

[2018-08-22 14:51] sebargarcia commented on #45
I will do. and comment on this issue, is this okey? thanks.

[2018-08-22 14:56] victornoel commented on #45
yes, that would be excellent to keep everything here, so that we can decide how to best solve this together.

[2018-08-22 16:07] pierre-l commented on #45
Hi, I'm not sure about this but I think I read some time ago that the goal of Jersey 2.26 was to loose the coupling to the injection framework (HK2) and that HK2 is now an optional dependency. You should try adding it to your classpath:

[code]

[2018-08-23 12:36] sebargarcia commented on #45
@pierre-l okey I will try. Yesterday I tried with payara 5.181 (Jersery 2.26) and works like a charm.

[2018-08-23 15:47] pierre-l commented on #45
@sebargarcia Ok, glad to read this, but I guess this means my proposal won't work and jax-rs-pac4j
 is not compatible as is with at least the latest version of payara, if not Jersey 2.27 :(

[2018-08-24 13:26] sebargarcia commented on #45
Well, no goods news here. Yesterday trying all my endpoints with payara 5.181 (Jersey 2.26)  I got again the error with hk2

I was confused because som end points works well and others throws that exception. So looking for differences I found that when I use @BeanParam instead of @QueryParam it throws the error.

For example this works
`@GET
    @Produces(MediaType.APPLICATION_JSON)
    public Res

[2018-08-24 15:35] pierre-l commented on #45
@sebargarcia I have 2 possible causes in mind:

* The JAX-RS Application or the Jersey ResourceConfig instance does not include jax-rs-pac4j's providers in the JAX-RS resources,
* There is a classpath conflict.

Do you know how the Application/ResourceConfig is built? Do you define it yourself or is it Payara's responsibility?

[2018-08-24 15:50] sebargarcia commented on #45
Today I will write a minimal example project and see if works.
Actually I define my ResourceConfig class in my project

`@ApplicationPath("api/v1")
public class ResourceConfigApp extends ResourceConfig {

    public ResourceConfigApp() {
        packages("ar.mypackage");

        //property(ServerProperties.BV_SEND_ERROR_IN_RESPONSE, true);
        //Con esto mandamos los errores de bean validatio

[2018-08-26 14:36] victornoel commented on #45
I just looked a bit a jersey 2.27 and almost nothing changed in it, they were just in preparation for donating the project to the eclipse fundation.

I suspect a problem with Payara: the error `java.lang.NoClassDefFoundError: org/glassfish/jersey/server/model/Parameter` is because the containing jar is not in the classpath. Since I think it is part of the main module of Jersey, there must be somet

[2018-08-27 17:00] sebargarcia commented on #45
Well I made a simple example only with pac4j dependencies. You can clone the project here

https://github.com/sebargarcia/testpac4j

It has 3 endpoints.  (one for generate the profile and the jwt token, and others 2 that uses jwt token)
It use an IpAuthenticator to generate an IpProfile.

In payara 5.181 Its works but when I use @BeanParams I got errors. (one endpoint in the project uses @BeanPara

[2018-08-28 06:52] victornoel commented on #45
@sebargarcia great, I will take a look at that during the week

[2018-09-19 23:38] hdeadman opened #46 "Error in README.md?"
The following from the readme doesn't compile:
[code]

Should it be the following?
[code]

[2018-09-20 05:42] leleuj commented on #46
Yes. The `JaxRsUrlResolver` is an `UrlResolver`. Would you mind opening a PR? Thanks

[2018-09-20 06:35] #46 closed

[2018-09-20 06:35] victornoel commented on #46
@hdeadman thanks for the feedback :)

[2018-10-10 19:34] akumar2812 opened #47 "Demo for jax-rs-pac4j ?"
This is not an issue but is there a demo for jax-rs-pac4j ?

[2018-10-11 05:47] leleuj commented on #47
I can create a `jax-rs-pac4j-demo` Github repository if necessary...

[2018-10-11 06:49] victornoel commented on #47
@leleuj I would keep a folder named "sample" or something like that in this repository. With a separated one, it is hard to keep things synchronized between the code and the sample and we don't see it break as easily.

[2018-10-11 06:55] leleuj commented on #47
No problem. Your way.

[2018-10-12 02:14] akumar2812 commented on #47
Thanks guys... appreciate it!

[2019-08-01 13:36] gowridev commented on #47
@leleuj @victornoel  Could you please share updates/link for demo for jax-rs-pac4j (if possible for example for  jax-rs-pac4j using resteasy for wildfly server)

[2019-08-01 15:48] victornoel commented on #47
@gowridev I'm sorry I don't have the time anymore to maintain this module. But if you make some demos I'm sure we will be able to include them. In pac4j usually the demo are in their own repository, you should even make one specific for resteasy for wildfly server.

[2019-08-06 08:45] leleuj commented on #47
@victornoel sad to hear that

@gowridev if you propose a demo, I can create the appropriate repo for that: xxx-pac4j...

[2019-08-23 13:15] davoustp opened #49 "Unable to set expires attribute in Cookie"
This is the JAXRS-pac4j counterpart of issue https://github.com/pac4j/pac4j/issues/1356.

This issue is about leveraging the additional expiry attribute added to the `Cookie` class in pac4j-core by https://github.com/pac4j/pac4j/issues/1356, and set the corresponding cookie attribute if specified.

Pending pull request, but requires that issue 1356 @ pacj4j is merged and release (dependancy update

[2019-09-09 09:45] davoustp commented on #49
Pull request created now that pac4j 3.8.0 is out.

[2020-01-23 14:02] gneuvill opened #73 "jersey 2.29+ breaks Pac4JValueFactoryProvider"
See https://github.com/eclipse-ee4j/jersey/pull/4091

Enum `Parameter$Source` has moved from `org.glassfish.jersey.server.model` to `org.glassfish.jersey.model.Parameter`

[2020-01-23 16:22] leleuj commented on #73
OK. What's your proposal on this? We already have a `jersey225` module...

[2020-01-24 08:45] victornoel commented on #73
Just to chip in but I wouldn't be able to help, the solution would be to introduce another submodule for this jersey version yes.
It's not very hard to do, just copy the existing one and adapt it so that it works with jersey 2.29+, there should be tests and everything else already implemented.

[2020-01-24 10:04] leleuj commented on #73
@victornoel Thanks for the hint. Let's hope there won't be too many breaking changes in Jersey...

@gneuvill How do you feel about this solution? Can you submit a PR? Thanks

[2020-02-27 07:33] #73 closed

[2020-03-23 19:46] tsmalls93 commented on #47
@leleuj, I would also be interested in a demo. I would like to see a demo app that shows how to secure a simple REST resource with the `isAuthenticated` authorizer using `AzureAdClient`. I would also be interested in seeing how to use a role/group from Azure AD to secure a REST resource.

[2020-03-24 07:19] leleuj commented on #47
Many people would like to have a demo for this implementation. Maybe I'll create one when upgrading to pac4j v4.
But above all, this is open source, the project relies on YOUR contributions.

[2020-03-24 12:53] tsmalls93 commented on #47
I understand. If/when I get it working, I would be happy to contribute.

[2020-03-25 15:39] richeyh opened #75 "Cut version with #74"
https://github.com/pac4j/jax-rs-pac4j/pull/74

the readme already says:
for Jersey (>=2.29) : the jersey-pac4j library (groupId: org.pac4j, version: 3.0.2)

but https://mvnrepository.com/artifact/org.pac4j/jersey-pac4j
only shows version 3.0.1 which does not have the fix in #74 that resolves the issue with jersey 2.30.1

so can we get version 3.0.2 cut to align with the docs and get the fix releas

[2020-03-26 08:12] leleuj commented on #75
I just cut the release, the version 3.0.2 will show up in the Maven central repo in a few hours.

[2020-03-26 08:12] #75 closed

[2020-03-26 08:20] leleuj commented on #49
Fixed in v3.0.1.

[2020-03-26 08:20] #49 closed

[2020-03-27 15:00] richeyh commented on #45
@victornoel any update? seeing this now blocking https://github.com/pac4j/dropwizard-pac4j/pull/51 due to all the error logging

[2020-03-27 15:19] victornoel commented on #45
@richeyh I don't maintain this module anymore unfortunately, if you have some ideas to solve this, don't hesitate to contribute, or maybe @leleuj has some plans for this?

[2020-04-02 19:08] richeyh commented on #45
@leleuj i opened a pr for a fix if you don't mind taking a look

[2020-04-03 14:58] #45 closed

[2020-04-03 16:12] richeyh commented on #45
@leleuj can we also get a version cut for this? or should I open another issue?

[2020-04-03 17:10] leleuj commented on #45
No need for a new issue, I will do that next week.

[2020-04-06 08:39] leleuj commented on #45
I cut the release which is now available in the Maven central repo.

[2020-04-16 11:46] jwindhager commented on #21
I don't understand why this issue was closed. Many parts of the readme are still not correct/compilable, e.g. most code in the [JAX-RS configuration section](https://github.com/pac4j/jax-rs-pac4j#jax-rs-configuration). Also, [the dependencies section](https://github.com/pac4j/jax-rs-pac4j#1-add-the-required-dependencies-jax-rs-pac4j--pac4j--libraries) seems to be outdated (the latest version for [

[2020-04-16 14:17] leleuj commented on #21
Having a good/accurate documentation is a permanent issue. No need to create one for that.

This is an Open Source project, not a paid software. If the documentation is not accurate, it's ALSO up to you to help fixing the documentation.

[2020-05-15 13:38] doodleincode opened #81 "Updating to pac4j 4.x?"
Are there plans to update the jax-rs implementation to use pac4j 4.x?

[2020-05-18 07:03] leleuj commented on #81
Sure. It's planned after the upgrade of vertx-pac4j. It could be in June or in September/October.

[2020-05-19 00:51] doodleincode commented on #81
Ok, thanks for the update.

[2020-05-19 06:16] leleuj commented on #81
Let's keep that issue opened. The work is still to be done...

[2020-09-04 12:19] leleuj commented on #11
Closing due to inactivity.

[2020-09-04 12:19] #11 closed

[2020-09-04 12:19] leleuj commented on #23
Closing due to inactivity.

[2020-09-04 12:19] leleuj commented on #24
Closing due to inactivity.

[2020-09-04 12:19] leleuj commented on #28
Closing due to inactivity.

[2020-09-04 12:20] #28 closed

[2020-09-04 12:20] #24 closed

[2020-09-04 12:20] #23 closed

[2020-09-04 15:38] #81 closed

[2021-01-21 13:09] renovate[bot] opened #126 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:56] #126 closed

[2021-05-31 13:22] orangecoding opened #151 "Support Pac4j 5"
When booting this with Pac4J 5, we're getting `org.glassfish.jersey.server.ContainerException: java.lang.NoSuchMethodError: 'java.lang.Object org.pac4j.core.engine.SecurityLogic.perform`

[2021-06-01 05:46] leleuj commented on #151
You can't use pac4j v5 with jax-rs-pac4j as it has not been upgraded yet.

[2021-06-01 06:26] orangecoding commented on #151
yes, I'm aware of that. I have seen this in the pom. I was wondering when you're planning to upgrade jax-rs-pac4j to be usable with pac4j 5.

[2021-06-01 06:50] leleuj commented on #151
It's not planned yet. After this summer for sure.

[2021-08-25 04:38] renovate[bot] opened #173 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [Update dependency javax:javaee-api to v8.0.1](../pull/56)
 - [ ] [Update dependency javax.annotation:javax.annotation-api t

[2021-10-28 07:49] elrapha opened #189 "Manually initiate indirect login with SAML2"
How does one manually initiate the indirect login process using this library.
I do not want to use annotations, i want to do it manually
Something.initiateAuthentication()?

[2021-11-02 09:45] leleuj commented on #189
Please use the mailing list for questions: http://www.pac4j.org/mailing-lists.html

[2021-11-02 09:45] #189 closed

[2021-11-02 09:45] leleuj commented on #47
Sure. Your contribution is welcome.

[2022-03-07 09:11] #47 closed

[2022-03-10 16:16] #151 closed